.row {
    min-height: 85vh;
}

.color-low {
    background-color: rgb(252, 236, 6);
    padding: 3px;
    border-radius: 5px;
}

.color-mod {
    background-color:  rgb(252, 166, 6);
    padding: 3px;
    border-radius: 5px;
}

.color-high {
    background-color:  rgb(252, 117, 6);
    padding: 3px;
    border-radius: 5px;
}

.color-veryHigh {
    background-color:  rgb(252, 84, 6);
    padding: 3px;
    border-radius: 5px;
}

.color-extreme {
    background-color:  rgb(252, 6, 6);
    padding: 3px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}